// 超出一行显示省略号
.text-oneline {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
// 超出两行显示省略号
.text-towline {
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
// 主题函数
.theme (@background,@textColor,@actionColor,@rgba) {
    background: @background;
    color: @textColor;
    .action-color {
        color: @actionColor;
    }
    .border-line {
        border: 2rpx solid @rgba;
    }
    .user-name-time {
        border-top: 2rpx solid @rgba;
    }
    .video-hr {
        height: 10rpx;
        width: 100%;
        margin-top: 24rpx;
        background: @rgba;
    }
    .video-box:last-child .video-hr {
        background: @background;
    }
}
// 深色主题
// body {
//     font-size: 28rpx;
//     .theme(#464646, #eaeaea, #fff, rgba(225,225,225,0.2));
// }
// 浅色主题
body {
    font-size: 28rpx;
    .theme(#fff, #464646, #000, rgba(0,0,0,0.2));
}
body /deep/ .uni-scroll-view::-webkit-scrollbar {
    /* 隐藏滚动条，但依旧具备可以滚动的功能 */
    display: none;
}
// flex
.flex-center {
    display: flex;
    align-items: center;
}
// 按钮激活时
.button-action {
    position: relative;
}
.button-action::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition-duration: 200ms;
}
.button-action:active::after {
    z-index: 1;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 20rpx;
}
// 引导页logo动画
.logo-transition {
    animation: logoTransition 4s forwards;
}
@keyframes logoTransition {
    0% {
        transform: translateY(-50rpx);
        opacity: 0;
    }
    30% {
        transform: translateY(-200rpx);
        opacity: 1;
    }
    70% {
        transform: translateY(-200rpx);
        opacity: 1;
    }
    100% {
        transform: translateY(-300rpx);
        opacity: 0;
    }
}
