// 超出一行显示省略号
.text-oneline {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
// 主题函数
.theme (@background,@textColor,@actionColor) {
    background: @background;
    color: @textColor;
    .action-color {
        color: @actionColor;
    }
}
// 深色主题
body {
    font-size: 28rpx;
    .theme(#464646, #eaeaea, #fff );
}
// 浅色主题
// body {
//     .theme(#fff, #464646, #000 );
// }
// flex
.flex-center {
    display: flex;
    align-items: center;
}

// transition动画
.sigin-signup-enter,
.sigin-signup-leave-to {
    opacity: 0;
}
.sigin-signup-enter-to,
.sigin-signup-leave {
    opacity: 1;
}
.sigin-signup-enter-active,
.sigin-signup-leave-active {
    transition-duration: 0.2s;
}
